# ignore all files without extension, has to be done in the following way:
# 1) ignore all files
#*
# 2) unignore directories
#!/*
# 3) unignore files with extension
#!*.*
# ATTENTION: on the internet i read about problems with deeper directory structure
# I have not experienced them but be aware of that

# ignore all files starting with '.' except .gitignore
.*
!.gitignore

*.o
*~

build/*
bin/*
doc/*
work/*

# ignore this file as it contains user-defined settins that can be used to 
# override default settings in the git repository
CMakeUser.txt

# ignore this file since it's generated during the build process
compile_commands.json
